/* You can add global styles to this file, and also import other style files */


.flex-100 {
    flex: 1 1 100%;
}

.gap-10 {
    gap: 10%;
}

.max-width-15 {
    width: 15%;
    max-width: 15%;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
