
<div class="d-flex flex-column">
    <div style="color: #FF8034; font-size: 24px;" class="m-5">Liste des produits disponible</div>
    
    <div class="d-flex flex-100 flex-row justify-content-center">
        <div class="max-width-15">Nom du produit</div>
        <div class="max-width-15">Catégories</div>
        <div class="max-width-15">Date d'expiration</div>
        <div class="max-width-15">Quantité</div>
        <div class="max-width-15">Valider pickup</div>
    </div>

    <div class="flex-row" *ngFor="let item of items">
        <app-item-list class="d-flex flex-100" [item]="item"></app-item-list>
    </div>
</div>